################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libcurl.WindowsPhone/ARM/Debug
/libcurl.WindowsPhone/Debug
/proj.winrt/ARM/Debug
/proj.winrt/Debug
*.sdf
